<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QuizProjectMvc</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div id="main-illumination" class="illumination"></div>
    <div id="main-wrapper">
        <header class="wrapper">

            <div id="logo">
                <img src="~/images/logo.png" alt="logo">
            </div>

            @Html.Partial("_HeaderNav")
        </header>

        <div id="content-wrapper" class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - QuizProjectMvc</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>

</html>
