<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QuizProjectMvc</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div id="main-illumination" class="illumination"></div>
    <div id="main-wrapper">
        <header class="wrapper">

            <div id="logo">
                <img src="~/Content/images/logo.png" alt="logo">
            </div>

            @Html.Partial("_HeaderNav")
        </header>

        <div id="content-wrapper" class="container-fluid body-content">

            <div class="page">
                <div class="wrapper">
                    <h2>@ViewBag.Title</h2>
                </div>

                <div class="content">
                    <div class="wrapper">

                        @*Todo Page Rout*@
                        <div class="current-route">
                            <span>Current » <strong class="sub-title">Rout</strong></span>
                        </div>
                        <div class="container-fluid clearfix">
                            @RenderBody()
                            @*<!-- Main Content-->
                                <div class="page-content pull-left">
                                    <section ng-include="ctrl.mainContentTemplate"></section>
                                </div>
                                <!-- Side Content-->
                                <div class="sidebar pull-right">
                                    <aside ng-include="ctrl.sidebarTemplate"></aside>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>

</html>
