<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - QuizProjectMvc</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>

<body>
    <div id="main-illumination" class="illumination"></div>
    <div id="main-wrapper">

        @Html.Partial("_HeaderPartial")

        @RenderSection("notification", required: false)

        <div id="content-wrapper" class="container-fluid body-content">

            <div class="page">
                <div class="wrapper">
                    <h2>@ViewBag.Title</h2>
                </div>

                <div class="content">
                    <div class="wrapper">

                        @*Todo Page Rout*@
                        <div class="current-route">
                            <span>Current » <strong class="sub-title">Rout</strong></span>
                        </div>
                        <div class="container-fluid clearfix">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @Html.Partial("_FooterPartial")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>

</html>
