@using Microsoft.AspNet.Identity
@using QuizProjectMvc.Common
@using QuizProjectMvc.Web.Controllers
@model QuizProjectMvc.Web.ViewModels.ProfileInformation.PublicProfileDetailed

@{
    bool enableEdit = User.Identity.GetUserId() == Model.Id ||
                      User.IsInRole(GlobalConstants.AdministratorRoleName);
}

<article class="single-article">

    <div class="article-header">
        <h4 class="sub-title">
            <label>
                @(Html.ActionLink<ProfileController>(
                $"{Model.FirstName} {Model.LastName}", c => c.UserProfile(Model.Id)))
            </label>
        </h4>
    </div>

    <div class="article-body clearfix">

        <div class="article-image pull-left">
            @{
                // Fix Avatar Name to be user-thumb
                string imageUrl = string.IsNullOrEmpty(Model.AvatarUrl)
                    ? "~/Content/images/default-avatar.png"
                    : Model.AvatarUrl;
            }

            <img id="selected-avatar" src="@Url.Content(imageUrl)" alt="article image" class="img-responsive">
            
        </div>

        <div class="article-content pull-left">
            <div class="quiz-details">
                <div class="basic-info">
                    <!-- Editable Content -->
                    <div id="editable-info" class="toggle-control">
                        @Html.DisplayForModel()
                    </div>

                    <p>
                        @*Todo on click display all user quizzes*@
                        <label>Quizzes Created:</label>
                        @Html.DisplayFor(m => m.QuizzesCreated)
                    </p>
                    <p>
                        <label>Rating:</label>
                        @for (int i = ModelConstraints.MinRating; i <= ModelConstraints.MaxRating; i++)
                        {
                            string icon = Model.Rating >= i
                                ? "glyphicon-ok-sign"
                                : "glyphicon-ok-circle";

                            <i title="@i" class="glyphicon @icon"></i>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
