@using Microsoft.AspNet.Identity
@using QuizProjectMvc.Common
@using QuizProjectMvc.Web.Controllers
@model QuizProjectMvc.Web.ViewModels.ProfileInformation.PublicProfileDetailed

@{
    bool enableEdit = User.Identity.GetUserId() == Model.Id ||
                      User.IsInRole(GlobalConstants.AdministratorRoleName);
}

<article class="single-article">

    <div class="article-header">
        <h4 class="sub-title">
            @if (enableEdit)
            {
                <label>Username:</label>
                <span class="article-username">@Model.UserName</span>
            }
            else
            {
                <span>@Model.FirstName @Model.LastName</span>
            }
        </h4>
    </div>

    <div class="article-body clearfix">

        <div class="article-image pull-left">
            @{
                // Fix Avatar Name to be user-thumb
                string imageUrl = string.IsNullOrEmpty(Model.AvatarUrl)
                    ? "~/Content/images/default-avatar.png"
                    : Model.AvatarUrl;
            }

            <img id="selected-avatar" src="@Url.Content(imageUrl)" alt="article image" class="img-responsive">

            @if (enableEdit)
            {
                @*Todo: add modal*@
                <button type="button"
                        data-toggle="modal" data-target="#select-avatar"
                        class="btn btn-block btn-primary toggle-control"
                        style="position: absolute; display: none">
                    Change
                </button>

                @Html.Partial("_EditAvatarModalPartial", new ViewDataDictionary
                {
                    {"Email", Model.Email }
                })
            }
        </div>

        <div class="article-content pull-left">
            <div class="quiz-details">
                <div class="basic-info">
                    <!-- Editable Content -->
                    <div id="editable-info" class="toggle-control">
                        @Html.DisplayForModel()
                    </div>

                    @if (enableEdit)
                    {
                        <p>
                            <label>Email:</label>
                            @if (string.IsNullOrEmpty(Model.Email))
                            {
                                <text>No Information</text>
                            }
                            else
                            {
                                <a href="mailto:@Model.Email">@Model.Email</a>
                            }
                        </p>

                        <div class="toggle-control form-horizontal" style="display: none">
                            @using (Ajax.BeginForm("Edit", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "editable-info",
                                OnSuccess = "onSuccessCallback"

                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.EditorForModel()

                                <div class="row clearfix">
                                    <button class="btn btn-success pull-right" type="submit">Save</button>
                                    @(Html.ActionLink<ManageController>(
                                "Change Password", c => c.ChangePassword(), null, new
                                {
                                    @class = "btn btn-danger pull-right"
                                }))
                                </div>
                            }
                        </div>
                    }

                    <p>
                        @*Todo on click display all user quizzes*@
                        <label>Quizzes Created:</label>
                        <span>@Model.QuizzesCreated</span>
                    </p>
                    <p>
                        <label>Rating:</label>
                        @for (int i = ModelConstraints.MinRating; i <= ModelConstraints.MaxRating; i++)
                        {
                            string icon = Model.Rating >= i
                                ? "glyphicon-ok-sign"
                                : "glyphicon-ok-circle";

                        <i title="@i" class="glyphicon @icon"></i>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>

@if (enableEdit)
{
    <div>
        <button class="btn btn-primary btn-round col-md-offset-9" title="Edit" onclick="onEditButtonClick()">
            Edit Profile
        </button>
    </div>
}
