@using QuizProjectMvc.Common
@model QuizProjectMvc.Web.ViewModels.ProfileInformation.PublicProfileInformation

<article class="single-article">

    <div class="article-header">
        <h4 class="sub-title">
            <label>Username:</label>
            <span class="article-username">@Model.UserName</span>
        </h4>
    </div>

    <div class="article-body clearfix">

        <div class="article-image pull-left">
            @{
                // Fix Avatar Name to be user-thumb
                string imageUrl = string.IsNullOrEmpty(Model.AvatarUrl)
                    ? "~/Content/images/quiz-thumb.png"
                    : Model.AvatarUrl;
            }

            <img src="@Url.Content(imageUrl)" alt="article image" class="img-responsive">
        </div>

        <div class="article-content pull-left">
            <div class="quiz-details">
                <div class="basic-info">
                    <p>
                        @Html.DisplayFor(m => m.FirstName);
                    </p>
                    <p>
                        @Html.DisplayFor(m => m.LastName);
                    </p>
                    <p>
                        @Html.DisplayFor(m => m.QuizzesCreated);
                    </p>
                    <p>
                        <label>Rating:</label>
                        @for (int i = ModelConstraints.MinRating; i <= ModelConstraints.MaxRating; i++)
                        {
                            string icon = Model.Rating >= i
                                ? "glyphicon-ok-sign"
                                : "glyphicon-ok-circle";

                            <i title="@i" class="glyphicon @icon"></i>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>