@model QuizProjectMvc.Services.Data.Models.Account.BasicAccountInfoViewModel

@{
    var labelAttributes = new {@class = "col-lg-3 control-label"};
    var inputAttributes = new { @class = "form-control" };
    var validationAttributes = new { @class = "text-danger" };
}

<!-- First Name-->
<div class="form-group required">
    @Html.LabelFor(m => m.FirstName, labelAttributes)
    <div class="col-lg-9">
        @Html.TextBoxFor(m => m.FirstName, inputAttributes)
        @Html.ValidationMessageFor(m => m.FirstName, String.Empty, validationAttributes)
    </div>   
</div>

<!-- Last Name-->
<div class="form-group required">
    @Html.LabelFor(m => m.LastName, labelAttributes)
    <div class="col-lg-9">
        @Html.TextBoxFor(m => m.LastName, inputAttributes)
        @Html.ValidationMessageFor(m => m.LastName, String.Empty, validationAttributes)
    </div>
</div>

<!-- Bio -->
<div class="form-group">
    @Html.LabelFor(m => m.Bio, labelAttributes)
    <div class="col-lg-9">
        @Html.TextAreaFor(m => m.Bio, inputAttributes)
        @Html.ValidationMessageFor(m => m.Bio, String.Empty, validationAttributes)
    </div>
</div>

<!-- Email-->
<div class="form-group">
    @Html.LabelFor(m => m.Email, labelAttributes)
    <div class="col-lg-9">
        @Html.TextBoxFor(m => m.Email, inputAttributes)
        @Html.ValidationMessageFor(m => m.Email, String.Empty, validationAttributes)
    </div>
</div>

<!-- Profile Picture-->
@Html.HiddenFor(m => m.AvatarUrl)