@using QuizProjectMvc.Services.Data.Models
@using QuizProjectMvc.Web.Controllers
@using QuizProjectMvc.Web.ViewModels
@model QuizProjectMvc.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";

    if (TempData["error"] != null)
    {
        var notification = new Notification { Message = (string)TempData["error"], CssClass = "alert-danger" };
        Html.RenderPartial("_NotificationPartial", notification);
    }
}

@*Main Content*@
@foreach (var quiz in Model.Quizzes)
{
    @Html.DisplayFor(m => quiz)
}

<div class="pager">
    @{
        var pager = Model.Pager;
    }

    

    <ul class="pagination pull-right">

        <li class="counter"><label>Page @pager.Page of @pager.TotalPages</label></li>

        @for (int i = 1; i <= pager.TotalPages; i++)
        {
            bool active = i == pager.Page;

            <li class="pagination-page @(active ? "active" : string.Empty)">
                @Html.ActionLink(i.ToString(), "Index", new Pager
           {
               Page = i,
               TotalPages = pager.TotalPages,
               PageSize = pager.PageSize
           })
            </li>
        }
    </ul>
</div>

@*Side Content*@
@section aside {
    <div class="widget">
        <h1>Categories</h1>
        <div class="well">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>
                        @category.Name
                    </li>
                }
            </ul>
        </div>
    </div>
}
