@model QuizProjectMvc.Web.ViewModels.Account.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    var labelAttributes = new { @class = "col-lg-3 control-label" };
    var inputAttributes = new { @class = "form-control" };
    var validationAttributes = new { @class = "text-danger" };

    <fieldset>
        <legend><span class="fa fa-sign-in"></span> Create a new account.</legend>

        @Html.AntiForgeryToken()


        <div class="form-group required">
            @Html.LabelFor(m => m.UserName, labelAttributes)
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.UserName, inputAttributes)
                @Html.ValidationMessageFor(m => m.UserName, String.Empty, validationAttributes)
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(m => m.Password, labelAttributes)
            <div class="col-lg-9">
                @Html.PasswordFor(m => m.Password, inputAttributes)
                @Html.ValidationMessageFor(m => m.Password, String.Empty, validationAttributes)
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(m => m.ConfirmPassword, labelAttributes)
            <div class="col-lg-9">
                @Html.PasswordFor(m => m.ConfirmPassword, inputAttributes)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, validationAttributes)
            </div>
        </div>

        @Html.EditorForModel("BasicAccountInfoViewModel")

        <!-- Submit-->
        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3 clearfix">
                <input type="submit" class="btn btn-primary pull-right" value="Register">
            </div>
        </div>
    </fieldset>
}

<hr />
<p class="text-right">Already have an account? @Html.ActionLink("Login", "Login")</p>
